<hr>
<p>Geneza: po 6-tym oblanym egzaminie miałem dosyć informowania wszystkich, że po raz kolejny się nie udało. </p>
<p>Kontakt: <a href="mailto:pawel+CzyPawelSoltysiakZdalEgzaminNaPrawoJazdy@soltysiak.it">mejl</a></p>
<p><strong>Uwaga</strong> programistyczny bełkot poniżej</p>
<p><a href="#" title="kod źródłowy">Kod źródłowy</a></p>
<p>Front-end: <a href="http://emberjs.com">Ember.js</a>, Back-end: brak</p>
<p>Wersja: <strong>{{model.version}}</strong></p>